@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/weather-icons/2.0.9/css/weather-icons.min.css');
@import url('/styles/animations.scss');

$background-color: #eee;
$body-color: #fafafa;

body {
  max-height: 100vh;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}
.col{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.row-1 {
  flex-direction: row;
}
.row-reverse {
  display: flex;
  flex-direction: row-reverse;
}
/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/


.content {
  display: flex;
  flex-direction: row;

}
.content > article {
  width: 100%;
}

header, footer {
  background: $background-color;
  height: 5vh;
  text-align: center;
}
header, footer, article, nav, aside {
  padding: 1em;
}
.container {
  display: block;
  grid-template-columns: 1fr 3fr;   
  grid-template-rows: 100%;
}
.normal-weather {
  background-color: white;
}

.hot-weather {
  background-image: url("/images/mimosa.png");
  p{
    color: white !important;    
  }
  h1 {
    font-family: 'Montserrat', sans-serif;
    color: white !important;
    bottom: 0;
    left: 35px;
  }
}

.cold-weather {
  background-image: url("/images/ocean.png");
  p{
    color: white !important;    
  }
  h1 {
    font-family: 'Montserrat', sans-serif;
    color: white !important;
    bottom: 0;
    left: 35px;
  }
}
.today-weather {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  margin:  5px auto;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
  width: 50%;
  height: 100%;
  box-shadow: 0px 0px 25px 1px rgba(50, 50, 50, 0.1);
  p {
    font-family: 'Montserrat', sans-serif;
    color: lighten(#b8b8b8, 10%);
    left: 35px;
  }
  h1 {
    font-family: 'Montserrat', sans-serif;
    color: #b8b8b8;
    bottom: 0;
    left: 35px;
  }
}
// WEATHER CARDS
.weather-wrapper {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.weather-card {
  
  margin:  20px 5px;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
  background-color: white;
  width: 100%;
  height: 100%;
  box-shadow: 0px 0px 25px 1px rgba(50, 50, 50, 0.1);
  
  h1 {
      font-family: 'Montserrat', sans-serif;
      font-weight:300;
      font-size:80px;
      color: #b8b8b8;
      bottom: 0;
      left: 35px;
  }
  
  p {
      position: absolute;
      font-family: 'Montserrat', sans-serif;
      font-weight:300;
      font-size:28px;
      color: lighten(#b8b8b8, 10%);
      bottom: 0;
      left: 35px;
  }
}

.weather-wrapper-horizontal {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.weather-card-horizontal {
  
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin:  20px 5px;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
  width: 100%;
  background-color: white;
  box-shadow: 0px 0px 25px 1px rgba(50, 50, 50, 0.1);
  
  h1 {
      font-family: 'Montserrat', sans-serif;
      font-weight:300;
      font-size:20px;
      color: #b8b8b8;
      bottom: 0;
      left: 35px;
      justify-self: center;
      align-self: center;
  }
  
  p {
      position: absolute;
      font-family: 'Montserrat', sans-serif;
      font-weight:300;
      font-size:14px;
      color: lighten(#b8b8b8, 10%);
      bottom: 0;
      left: 35px;
  }
}

.favorite-icon-today {
  width: 20%;
  height: 20%;
}

.weather-icon-today {
  width: 100%;
  height: 100%;
  // margin: 0 auto;
  align-self: center;
}

.weather-icon {
  position: relative;
  width: 50px;
  height: 50px;
  top: 0;
  float: right;
  margin: 40px 40px 0 0;
}
.weather-icon-horizontal {
  width: 50%;
  height: 50%;
  justify-self: center;
  align-self: center;
}
//dropdown
.custom-select {
  position: relative;
  display: flex;
  max-width: 100%;
  min-width: 180px;
  margin: 20px 0px 20px 0px;
  border: 1px solid $body-color;
  background-color: $body-color;
  margin: 10px;
  z-index: 10;

  select{
    justify-content: space-around;
    border: 1px solid $background-color;
    outline: none;
    background: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0px;
    display: flex;
    width: 100%;
    padding: 12px 55px 15px 15px;
    font-size: 14px;
    option {
      border: 1px solid $background-color;
    } 
    &:after{
      position: absolute;
      right: 0;
      top: 0;
      width: 50px;
      height: 100%;
      line-height: 38px;
      content: '\2228';
      text-align: center;
      font-size: 24px;
      z-index: -1;
    }    
  }
  button {
    justify-content: space-around;
    border: 1px solid $background-color;
    outline: none;
    background: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0px;
    display: flex;
    width: 100%;
    padding: 12px 55px 15px 15px;
    font-size: 14px;
    &:hover {
      background-color: rgba(238, 238, 238, 0.5)
    }
    option {
      border: 1px solid $background-color;
    } 
    &:after{
      position: absolute;
      right: 0;
      top: 0;
      width: 50px;
      height: 100%;
      line-height: 38px;
      text-align: center;
      font-size: 24px;
      z-index: -1;
    }    
  }
}

.custom-select-container {
  align-items: center;
  justify-content: center;
  height: 100%;
}

.custom-container-2 {
  display: grid;
  background: $body-color;
  height: 100%;  
  grid-template-rows: 1fr 1fr;
}

.forecast {
  display: flex;
}
/* If the screen size is 600px wide or less, hide the element */
@media only screen and (max-width: 600px) {
  .forecast {
    display: none;
  }
}

.item {
  width: 20%;
  text-align: center;
}

.favorite-location:hover {
  text-decoration: underline;
}

// modal
.customAlert{
	z-index: 11;
  display: none;
  position: absolute;
  max-width: 25%;
  min-width: 250px !important;
  min-height: 20%;
  height: 200px;
  left: 50%;
  top: 50%;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 25px;
  background-color: white;
  
  @media all and (max-width: 1300px){
    .message{
      font-size: 14px !important;
    }
    input[type='button']{
      height: 15% !important;
    }
  }
  
  .message{
    padding: 5px;
    color: black;
    font-size: 14px;
    line-height: 20px;
    text-align: justify;
  }

  input[type='button']{
    position: absolute;
    top: 100%;
    left: 50%;
    width: 50%;
    height: 36px;
    margin-top: -45px;
    margin-left: -25%;
    outline: 0;
    border: 1px solid black;
    border-radius: 25px;
    background-color: white;
    color: black;
    &:hover{
      transition: 0.3s;
      cursor: pointer;
      background-image: white
      ;
    }
  } 
}

@keyframes fadeOut{
	from{
  	opacity: 1;
  } 
  to{
    opacity: 0;
  }
}
    
@keyframes fadeIn{
	from{
  	opacity: 0;
  } 
  to{
    opacity: 1;
  }
}

// responseiveness

@media only screen and (min-width: 1023px) {
  .container {
    display: grid;
  }

}
/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/
@media (min-width: 767px) and (max-width: 1023px) {
  
  //CSS
  .col-2{
    display: flex;
    flex-direction: column;
  }

  .custom-container-2 {
    display: grid;
  }
  
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  
  //CSS
  .today-weather{
    width: 100%;
    padding: 5px;
  }

  .custom-container-2{
    display: block;
  }

  .align-mobile {
    padding: 5px;
  }
  
}


// slide in
@-webkit-keyframes slideInRight {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInRight {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.slideInRight {
  -webkit-animation-name: slideInRight;
  animation-name: slideInRight;
}
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@media (print), (prefers-reduced-motion: reduce) {
  .animated {
    -webkit-animation-duration: 1ms !important;
    animation-duration: 1ms !important;
    -webkit-transition-duration: 1ms !important;
    transition-duration: 1ms !important;
    -webkit-animation-iteration-count: 1 !important;
    animation-iteration-count: 1 !important;
  }
}

@-webkit-keyframes bounceInUp {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 3000px, 0);
    transform: translate3d(0, 3000px, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0);
  }

  75% {
    -webkit-transform: translate3d(0, 10px, 0);
    transform: translate3d(0, 10px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, -5px, 0);
    transform: translate3d(0, -5px, 0);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes bounceInUp {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 3000px, 0);
    transform: translate3d(0, 3000px, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0);
  }

  75% {
    -webkit-transform: translate3d(0, 10px, 0);
    transform: translate3d(0, 10px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, -5px, 0);
    transform: translate3d(0, -5px, 0);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.bounceInUp {
  -webkit-animation-name: bounceInUp;
  animation-name: bounceInUp;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}